$max-width: 1276px;

// Color names from: http://chir.ag/projects/name-that-color
$white: #fff;
$black: #000;
$congress-blue: #083d8c;
$endeavour: #01529e;
$mariner: #216ddf;
$mosque: #016b6a;
$robins-egg-blue: #02c7c6;
$mine-shaft: #3f3f3f;
$dove-gray: #616161;
$alto: #d8d8d8;
$silver: #bebebe;
$gallery: #ececec;
$wild-sand: #f6f6f6;